@use "../mixins/disable-mob-hover" as *;

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  padding: 18px 38px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;

  &--primary {
    border-color: var(--color-accent);
    color: var(--color-surface-default);
    background-color: var(--color-accent);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px solid var(--color-accent);
  }

  @include hover {
  }
}
