.mini-cart {
  position: absolute;
  right: 0;
  top: 80px;
  border-left: 1px solid var(--color-neutral-muted);
  width: 340px;
  height: calc(100vh - 80px);
  background-color: var(--color-surface-default);

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 25px;
  }

  &__title {
    position: relative;
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 122%;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  &__quantity {
    position: absolute;
    right: -12px;
    top: -2px;
    font-weight: 600;
    font-size: 12px;
    line-height: 122%;
    text-transform: uppercase;
    color: var(--color-secondary);
  }

  &__close {
    width: 20px;
    height: 20px;
    color: var(--color-primary);

    svg {
      fill: currentColor;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    height: 100%;
    gap: 4px;
  }

  &__products {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0 12px;
  }

  &__bottom {
    margin-top: auto;
  }

  &__result {
    display: flex;
    align-items: center;
    padding: var(--gap);
  }

  &__text {
    font-weight: 600;
    font-size: 16px;
    line-height: 122%;
    text-transform: uppercase;
    color: var(--color-primary);
  }
}
