.search-result {
  // position: absolute;
  left: 0;
  display: flex;
  top: var(--header-height);
  z-index: 250;
  width: 100%;
  height: calc(100vh - var(--header-height));
  background: var(--color-surface-subtle);
  transition:
    opacity 0.3s linear,
    visibility 0.3s linear;

  &__nav {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    border-right: 1px solid var(--color-neutral-muted);
    padding: var(--gap);
    width: 474px;
    height: 100%;
    background-color: var(--color-surface-default);

    .simplebar-content {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    .simple-content {
      display: flex;
      flex-direction: column;
      gap: var(--gap);

      &::before,
      &::after {
        display: none;
      }
    }
  }

  &__content {
    width: calc(100% - 474px);
    height: 100%;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 122%;
    text-transform: uppercase;
    color: var(--color-primary);
    margin-bottom: 12px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-primary);
  }

  &__inner {
    padding: var(--gap);

    .sinplebar-content {
      display: flex;
      flex-direction: column;
      gap: var(--gap);
    }
  }
}
