<header class="header">
  <div class="header__top">
    <div class="container header__container">
      <a href="index.html" class="header__logo">Reel To Real</a>
      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="shops.html" class="nav__link">Магазины</a>
          </li>
          <li class="nav__item">
            <a href="contacts.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__actions">
        <a href="#" class="btn-reset header__fav header__action" aria-label="Перейти в избранное">
          <svg class="icon">
            <use xlink:href="img/sprite.svg#fav"></use>
          </svg>
        </a>
        <button class="btn-reset header__cart header__action" aria-label="Открыть корзину">
          <svg class="icon">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
        </button>
        <button class="btn-reset header__cart header__action" aria-label="Открыть корзину">Войти</button>
      </div>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container header__container">
      <button class="btn-reset header__btn">
        <svg class="icon">
          <use xlink:href="img/sprite.svg#"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
